<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}"
>
<body>
<div layout:fragment="body">
    <p th:text="'Name 1: ' + ${name1}" />
    <p th:text="'Name 2: ' + ${name2}" />
    <p th:text="'Hello, ' + ${value} + '!'" />
    <p th:text="'Value: ' + ${configValue}" />

    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>
