<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="notification">
        <div th:each="alert : ${ {'success', 'danger'} }">
            <div th:if="${__${alert}__Message != null}">
                <div th:class="${'alert alert-' + alert + ' alert-dismissible fade show'}">
                    [(${__${alert}__Message})]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
