<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}"
>
<body>
<div layout:fragment="body">
    <h4>Login</h4>
    <div class="text-danger" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div class="text-info" th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label>
                Login
                <input class="form-control" type="text" name="username" autocomplete="off"/>
            </label>
        </div>
        <div class="form-group">
            <label>Password
                <input class="form-control" type="password" name="password"/>
            </label>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Sign In"/>
            <a class="btn btn-secondary" th:href="${#mvc.url('user#registration').build()}">
                Registration
            </a>
        </div>
    </form>
</div>
</body>
</html>
