<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}"
>
<body>
<div layout:fragment="body">
    <h4>Registration</h4>
    <form th:action="${#mvc.url('user#create').build()}" th:object="${userForm}" method="post" enctype="utf8">
        <div th:if="${#fields.hasErrors('global')}">
            <ul class="text-danger">
                <li th:each="err : ${#fields.errors('global')}" th:text="${err}" />
            </ul>
        </div>
        <div class="form-group">
            <label>
                Login
                <input class="form-control" type="text" th:field="*{username}" autocomplete="off"/>
                <p class="text-danger mb-0" th:each="error : ${#fields.errors('username')}" th:text="${error}">
                    Validation error
                </p>
            </label>
            <!--        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Validation error</p>-->
            <!--        <p th:text="${usernameError}" />-->
        </div>
        <div class="form-group">
            <label>
                Password
                <input class="form-control" type="password" th:field="*{password}"/>
                <p class="text-danger mb-0" th:each="error : ${#fields.errors('password')}" th:text="${error}">
                    Validation error
                </p>
            </label>
            <!--        <p th:text="${passwordError}" />-->
        </div>
        <div class="form-group">
            <label>
                Confirm password
                <input class="form-control" type="password" th:field="*{passwordConfirm}"/>
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
        <a class="btn btn-secondary" th:href="@{/login}">Login</a>
    </form>
</div>
</body>
</html>
