<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}"
>
<body>
<div layout:fragment="body">
    <div class="row">
        <div class="col">
            <h4>File uploading</h4>
            <form th:action="${#mvc.url('file#upload').build()}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>
                        File to upload
                        <div class="custom-file">
                            <input class="custom-file-input" type="file" name="file" />
                            <label class="custom-file-label"></label>
                        </div>
                    </label>
                </div>

                <div>
                    <input class="btn btn-primary" type="submit" value="Upload"/>
                </div>
            </form>
        </div>
        <div class="col">
            <h4>List of files</h4>
            <ul th:if="${0 != files.size()}">
                <li th:each="file : ${files}">
                    <a th:href="${#mvc.url('file#serve').arg(0, file.identifier).build()}" th:utext="${file.fileName}"/>
                </li>
            </ul>
            <div th:if="${0 == files.size()}">
                Not found
            </div>
        </div>
    </div>
</div>
</body>
</html>
