<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}"
>
<body>
<div layout:fragment="body">
    <div class="row">
        <div class="col">
            <h4>File uploading</h4>
            <form th:action="${#mvc.url('file#upload').build()}" th:object="${fileForm}" th:method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>
                        File to upload
                        <div class="custom-file">
                            <input class="custom-file-input" type="file" th:field="*{file}" />
                            <label class="custom-file-label"></label>
                        </div>
                        <p class="text-danger mb-0" th:each="error : ${#fields.errors('file')}" th:text="${error}">
                            Validation error
                        </p>
                    </label>
                </div>

                <div>
                    <input class="btn btn-primary" type="submit" value="Upload"/>
                </div>
            </form>
        </div>
        <div class="col">
            <h4>List of files</h4>
            <ul th:if="${0 != files.size()}">
                <li th:each="file : ${files}">
                    <div class="row no-gutters">
                        <div class="col-auto">
                            <a th:href="${#mvc.url('file#serve').arg(0, file.identifier).build()}" th:utext="${file.fileName}"/>
                        </div>
                        <div class="col">
                            <form th:action="${#mvc.url('file#delete').arg(0, file.identifier).build()}" th:method="delete">
                                <input class="btn btn-sm btn-danger px-1 py-0 ml-2" type="submit" value="Delete"/>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <div th:if="${0 == files.size()}">
                Not found
            </div>
        </div>
    </div>
</div>
</body>
</html>
